<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.anchengxu.player.dao.SourceDao" >

    <select id="selectSource" parameterType="top.anchengxu.player.model.Source" resultType="top.anchengxu.player.model.Source">
       select * from t_source s where s.name like "%#{name}%";
    </select>

</mapper>